@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tsukimi+Rounded&display=swap");
* {
  text-decoration: none;
  /* font-family: poppins; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
.navccon {
  width: 100%;
  position: relative;
}
 .nt{
  opacity: 0.6;
  background: #1F2227;
text-align: center;
color: white;
padding: 0.5rem 0;
font-size: 0.875rem;
}
 .nt p{
  position: absolute;
  color: #FFF;
text-align: center;
text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.77);
font-family: Inter;
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}
@media (width<450px) {
  /* .nt{
    font-size: 0.7rem;
    font-weight: 800;
  } */
}
nav {
  position: absolute;
  width: 100%;
  height: 4.625rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: red; */
  background-color: transparent;
  z-index: 1;
  /* overflow-x: hidden; */
}
nav .nlogo img {
  width: 3.0625rem;
  height: 2.75rem;
  flex-shrink: 0;
}
nav .nlink {
  display: flex;
  align-items: center;
  gap: 0rem 1rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: white;
  /* background-color: red; */
}
nav .ntext {
  display: flex;
  gap: 0rem 5rem;
  /* background-color: red; */
}
nav .ntext .link {
  font-size: 1rem;
  font-weight: 800;
  color: white;
}

nav .btn {
  /* background-color: red; */
  display: flex;
  gap: 0rem 1rem;
}
nav .btn button {
  padding: 0.375rem 0.9375rem;
  justify-content: center;
  align-items: center;
  border-radius: 2.1875rem;
  color: white;
  /* background-color: red; */
}

nav .btn .login {
  border: 1px solid #4caf4f;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.36) 2.78%,
    rgba(153, 153, 153, 0.36) 97.22%
  );
}
nav .btn .signup {
  border: 1px solid #4caf4f;
  background-color: transparent;
}
.imenu {
  font-size: 3rem;
  color: white;
  display: none;
}
.menu {
  display: none;
  margin-top: 4.625rem;
  height: calc(100vh - 4.625rem);
  width: 100%;
  /* background-color: green; */
  background-color: white;
  position: absolute;
  z-index: 11;
}
.menu .ntext1 {
  height: 100%;
  width: 100%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.menu .ntext1 .link {
  font-size: 1.5rem;
  font-weight: 700;
}
@media (width<450px) {
  nav {
    justify-content: space-between;
    padding: 0 1rem;
  }
  nav .nlink {
    font-size: 0.9rem;
  }
  nav .ntext {
    display: none;
    /* background-color: red; */
  }
  nav .btn {
    /* background-color: red; */
    display: none;
  }
  .imenu {
    display: block;
  }
}
/* ^whatapp */
.wh{
  margin: 1rem;
  position: fixed;
  top: 80vh;
  left: 95vw;
  transform: translate(-100%,-100%);
  border-radius: 50%;
  z-index: 5555;
  background-color: green;
  padding: 0.2rem;
}
.hw{
  font-size: 4rem;
  color: white;
  /* border-radius: 50%; */
}
/** Footer */
.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 46.8125rem;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0;
  /* background-color: black; */
  background: linear-gradient(180deg, #0d0f29 0%, #7fa1e2 100%);
}
.footer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.footer h1 {
  width: 30.5rem;
  text-align: center;
  font-family: "Cal Sans";
  font-size: 2.9375rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: linear-gradient(90deg, #ccc 0%, #fff 50%, #999 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer p {
  width: 42.8125rem;
  color: rgba(255, 255, 255, 0.68);
  text-align: center;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer button {
  width: 16.125rem;
  height: 3.5rem;
  flex-shrink: 0;
  border-radius: 1.75rem;
  border: 1px solid rgba(11, 141, 140, 0.42);
  background: linear-gradient(180deg, #000 0%, #000 100%);
  text-align: center;
  font-family: Inter;
  font-size: 1.3125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: white;
}
.footer .img {
  /* position: absolute; */
  width: 16.31281rem;
  height: 15.66769rem;
  flex-shrink: 0;
  /* background-color: red; */
  border-radius: 4rem;
  background: #000;
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.flogo {
  width: 3.0625rem;
  height: 3.375rem;
  flex-shrink: 0;
  margin: 1rem;
  /* background-color: red; */
}
.img img {
  width: 7.86456rem;
  height: 6.29169rem;
}
.footer1 {
  width: 100%;
  height: 21.6875rem;
  padding: 1rem 0;
  /* padding: 4rem; */
  /* background-color: red; */
  background-color: #0c0f27;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flink {
  display: flex;
  align-items: center;
  /* background-color: green; */
}
.f1 {
  height: 60%;
  width: 20.9375rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: red; */
}
.f1 .Link {
  color: #fff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.f1 h1 {
  color: #fff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.f1 p {
  color: #fff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* background-color: yellow; */
}
/* .footer .f2 {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100rem;
  width: 100%;
  position: absolute;
  color: black;
  text-align: center;
  font-family: Inter;
  font-size: 5.75rem;
  font-weight: 400;
  opacity: 0.5;
  background-color: red;
}
.footer .fbot1 p{
  text-align: center;
} */
@media (width<450px) {
  .footer {
    padding: 0 2rem;
  }
  .footer h1 {
    width: 100%;
    font-size: 1.9375rem;
  }

  .footer p {
    width: 100%;
    font-size: 1.5rem;
  }
  .footer1 {
    width: 100%;
    height: auto;
    padding: 1rem;
    /* background-color: red; */
    background-color: #0c0f27;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .flink {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
  }
  .f1 {
    margin: 1rem 0;
    /* height: 60%; */
    /* width: 20.9375rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    /* background-color: red; */
  }
  .f1 .Link {
    color: #fff;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .f1 h1 {
    color: #fff;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .f1 p {
    color: #fff;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    /* line-height: normal; */
    line-height: 1.5rem;
    /* background-color: red; */
  }
}

/* ^login */
.login {
  width: 100%;
  height: 55rem;
  /* background-color:black; */
  background: linear-gradient(180deg, #0d0f29 0%, #7fa1e2 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.lform {
  width: 27.625rem;
  height: 29.125rem;
  flex-shrink: 0;
  background-color: black;
  border-radius: 1.25rem;
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}
.lf {
  width: 100%;
}
.lform h1 {
  color: white;
  font-family: Inter;
  font-size: 2.0625rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  background: linear-gradient(180deg, #fff 0%, #d7d7d7 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.lf label {
  color: #9e9e9e;
  font-family: Inter;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 0.5rem;
}
.lf input {
  height: 2.5rem;
  width: 100%;
  border-radius: 1rem;
  /* border: none; */
  border: 1px solid white;
}
.lform button {
  width: 22.75rem;
  height: 2.625rem;
  flex-shrink: 0;
  border-radius: 1.3125rem;
  border: 1px solid #fff;
  background: #e5e5e5;
  color: #000;
  font-family: Inter;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media (width<450px) {
  .login {
    width: 100%;
    padding: 0 1rem;
    height: 55rem;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
  }

  .lform {
    width: 100%;
    height: 29.125rem;
    flex-shrink: 0;
    background-color: black;
    /* background-color: yellow; */
    border-radius: 1.25rem;
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
  }
  .lf {
    width: 100%;
  }
  .lform h1 {
    color: white;
    font-family: Inter;
    font-size: 2.0625rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    background: linear-gradient(180deg, #fff 0%, #d7d7d7 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .lf label {
    color: #9e9e9e;
    font-family: Inter;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 0.5rem;
  }
  .lf input {
    height: 2.5rem;
    width: 100%;
    border-radius: 1rem;
    /* border: none; */
    border: 1px solid white;
  }
  .lform button {
    width: 10.75rem;
    height: 2.625rem;
    flex-shrink: 0;
    border-radius: 1.3125rem;
    border: 1px solid #fff;
    background: #e5e5e5;
    color: #000;
    font-family: Inter;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

/* *popup */

.pop{
  /* display:none; */
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%,-50%);
  z-index: 555;
  width: 47.125rem;
  padding: 0 0 4rem 0;
  /* height: 36.6875rem; */
  background-color: black;
}
.pop .c{
  text-align: end;
  /* background-color: yellow; */
}
.p1{
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  /* background-color: green; */
}
.p1 .pp1{
  /* background-color: gray; */
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.p1 .pp1 label{
  font-size: 1.3rem;
  font-weight: 500;
  color: white;
}
.p1 .pp1 input{
  text-align: center;
width: 90%;
background-color: white;
color: black;
}
.p1  select{
  text-align: center;
width: 90%;
background-color: white;
color: black;
}
.pb{
  display: flex;
  align-items: center;
  justify-content: center;
}
.pb button{
  padding: 1rem 2rem;
  background-color: white;
}
@media (width<450px) {
  .pop{
  /* display:none; */
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%,-50%);
  z-index: 555;
  width: 100%;
  padding: 0 0 4rem 0;
  /* height: 36.6875rem; */
  background-color: black;
}
.pop .c{
  text-align: end;
  /* background-color: yellow; */
}
.p1{
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  /* background-color: green; */
}
.p1 .pp1{
  /* background-color: gray; */
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.p1 .pp1 label{
  font-size: 1.3rem;
  font-weight: 500;
  color: white;
}
.p1 .pp1 input{
  text-align: center;
width: 90%;
background-color: white;
color: black;
}
.p1  select{
  text-align: center;
width: 90%;
background-color: white;
color: black;
}

.pb button{
  padding: 1rem 2rem;
  background-color: white;
}
}